extend extends/nosidebar.jade

block maintitle
  | Kapcsolat

block maincontent
  P Mi a véleményed a honlapunkról a kezdeményezésünkről? Esetleg szívesen látnál, olvasnál vagy hallanál valakiről? Ha kedved van küldjél egy e-mailt nekünk!
  p Ha jelentkezni szeretnél és megjelenni a Magyar Művészeti és Kulturális Portál oldalain, akkor a jelentkezési lapot le tudod tölteni ha ide kattintasz.
    a(href='files/mmkp-jelentkezesi-lap.docx') Jelentkezési lap
