extend ./extends/artist.jade

block name
  | Kis Anasztázia

block portrait
  img.alignleft.wp-post-image(src='images', alt='Kis Anasztázia', style='height:465px; width:310px;')

block bio
  p Kis Anasztázia a Mátra szívéből egy kis eldugott falucskából, Mátraderecskéről küldte be képeit számunkra. 2001-től kezdett el festeni hobbi szinten.

  p Victor Vasarelly munkássága ihlette amelyet aztán a saját gondolatival bővitett ki. Így jött létre a space-art, az animal-art és natural-art.

  p 2010 kezdett el komolyabban foglalkozni a festészettel és azóta már kiállítást is szerveztek a képeiből.

  p Kis Anasztázia célja hogy bemutassa mindazt ami számára a legtöbbet jelent még akkor is ha talán ez a stílus nem annyira  megszokott vagy ismert.

block gallery
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-kette-tort-hold.jpg', title='Kis Anasztázia - Ketté tört hold')
      img.img-border(src='images/muveszeink/kis-anasztazia/kette-tort-hold-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Ketté tört hold', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-horizont.jpg', title='Kis Anasztázia - Horizont')
      img.img-border(src='images/muveszeink/kis-anasztazia/horizont-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Horizont', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='Naplemente-anasztazia/kis-anasztazia-tigris.jpg', title='Kis Anasztázia - Tigris')
      img.img-border(src='images/muveszeink/kis-anasztazia/tigris-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Tigris', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='Naplemente-anasztazia/kis-anasztazia-naplemente.jpg', title='Kis Anasztázia - Naplemente')
      img.img-border(src='images/muveszeink/kis-anasztazia/naplemente-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Naplemente', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-vilagok.jpg', title='Kis Anasztázia - Világok')
      img.img-border(src='images/muveszeink/kis-anasztazia/vilagok-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Világok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-tuzvirag.jpg', title='Kis Anasztázia - Tűzvirág')
      img.img-border(src='images/muveszeink/kis-anasztazia/tuzvirag-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Tűzvirág', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-vilagok-harca.jpg', title='Kis Anasztázia - Világok harca')
      img.img-border(src='images/muveszeink/kis-anasztazia/vilagok-harca-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Világok harca ', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-feher-tigris.jpg', title='Kis Anasztázia - Fehér Tigris')
      img.img-border(src='images/muveszeink/kis-anasztazia/feher-tigris-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Fehér Tigris', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/kis-anasztazia/kis-anasztazia-konyv.jpg', title='Kis Anasztázia - Könyv')
      img.img-border(src='images/muveszeink/kis-anasztazia/konyv-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Könyv', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='Naplemente-anasztazia/kis-anasztazia-napnyugta.jpg', title='Kis Anasztázia - Napnyugta')
      img.img-border(src='images/muveszeink/kis-anasztazia/napnyugta-kis-anasztazia-383x233.jpg', alt='Kis Anasztázia - Napnyugta', style='width:383px;height:233px')
